# php (composer)
vendor/
composer.lock

# php (phpunit)
build/logs/
.phpunit.result.cache

# php (infection)
build/infection/
infection-log.txt
infection-summary.txt

# php (phpcs fixer)
.php_cs.cache

# phpstorm
.idea/
