{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": "vendor\/bin\/phpunit"
    },
    "staticAnalysisTool": "phpstan",
    "tmpDir": "build/infection/",
    "logs": {
        "text": "infection-log.txt",
        "summary": "infection-summary.txt"
    },
    "minMsi": 65,
    "minCoveredMsi": 75
}
