parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: false
    paths:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        # not supported by phpstan?
        - '/PHPDoc tag @template .Key.* for .* with bound type .* is not supported\./'
        # false-positive?
        - '/Cannot access offset int\|string on array<int\|string/'
        - "/Cannot access offset '!!!!Arrayy_Helper…' on array<int\\|string/"
        - '/comparison using === between true and false/'
        - '/function call_user_func expects callable.*array\(.*\) given/'
        - '/function call_user_func_array expects callable.*array\(.*\) given/'
        - '/array_map expects \(callable\(\):/'
        - '/Property Arrayy\\Arrayy<TKey,T>::\$iteratorClass/'
        - '/should return TLast\|TLastFallback but returns TLastFallback\|null/'
        - '/should return TFirst\|TFirstFallback but returns TFirstFallback\|null/'
        # ignore gernal errors
        - '/Unsafe usage of new static/'
        # ignore Iterator stuff
        - '/__construct\(\) has parameter \$iteratorClass with generic/'
        - '/create\(\) has parameter \$iteratorClass with generic/'
        - '/parameter \$iteratorClass with generic class Arrayy\\ArrayyIterator/'
        - '/generic class Arrayy\\ArrayyIterator does not specify its types/'
        - '#Arrayy::getIterator\(\) should be compatible with return type#'
