parameters:
    level: 8

services:
    -
        class: Arrayy\PHPStan\GetDynamicMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Arrayy\PHPStan\MetaDynamicStaticMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
